<header>
    <div class="header-content">
        <div class="image-wrapper">
            <img src="../../assets/images/people.png" alt="people">
        </div>
        <span class="header-title">Customer Manager</span>
    </div>

    <div class="database">
        <div class="export-customers">
            <a [href]="downloadJsonHref" [download]="fileName" (click)="downloadCustomersDB()">
                <i class="fa fa-database" aria-hidden="true"></i>
            </a>
            <span class="db-export-title">Export <br> customers</span>
        </div>

        <div class="form-group">
            <input type="file" id="file" (change)="openCustomersImportDialog($event.target.files)">
            <span class="db-import-title">Import <br> customers</span>
        </div>
    </div>
</header>
