@import 'src/scss/variables';
@import 'src/scss/mixins';

header {
    height: 70px;
    width: 100%;
    background-color: #393f4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header-title {
    color: white;
    font-size: 18px;
}

.database {
    display: flex;
    margin-right: 15px;
}

.export-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
        @include transition(all 0.2s ease-in-out 0s);
    
        &:active {
            color: orange;
        }
        
        .fa-database {
            font-size: 22px;
        }
    }
}

.db-export-title,
.db-import-title {
    color: white;
    font-size: 13px;
    text-align: center;
}

.db-import-title {
    margin-top: -2px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file {
    width: 20px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out 0s);

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        font-family: FontAwesome;
        content: "\f1c0";
        font-size: 22px;
        color: white
    }

    &:active::before {
        color: orange;
    }
}
