<section>
    <div class="card-title">
        <i class="fa fa-user" aria-hidden="true"></i>
        Customer name
    </div>

    <form class="customer-form" #newCustomerForm="ngForm" (ngSubmit)="onSubmit(newCustomerForm)">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="customer.firstName" name="firstName" #pickedFirstName="ngModel" required>
        </mat-form-field>
        <div class="required-message" *ngIf="!pickedFirstName.valid && pickedFirstName.touched">First Name is required!</div>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="customer.lastName" name="lastName" #pickedLastName="ngModel" required>
        </mat-form-field>
        <div class="required-message" *ngIf="!pickedLastName.valid && pickedLastName.touched">Last Name is required!</div>
        
        <label>Gender</label>
        <mat-radio-group [(ngModel)]="customer.gender" (change)="onChangeGender($event)" name="gender">
            <mat-radio-button color="primary" value="male">Male</mat-radio-button>
            <mat-radio-button color="primary" value="female">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="customer.email" name="email" #customerEmail="ngModel" required>
        </mat-form-field>
        <div class="required-message" *ngIf="!customerEmail.valid && customerEmail.touched">Email is required!</div>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="customer.address" name="address" #customerAddress="ngModel" required>
        </mat-form-field>
        <div class="required-message" *ngIf="!customerAddress.valid && customerAddress.touched">Address is required!</div>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="customer.city" name="city" #customerCity="ngModel" required>
        </mat-form-field>
        <div class="required-message" *ngIf="!customerCity.valid && customerCity.touched">City is required!</div>

        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput [(ngModel)]="customer.state" name="state" #customerState="ngModel" required>
        </mat-form-field>
        <div class="required-message" *ngIf="!customerState.valid && customerState.touched">State is required!</div>

        <div class="dialog-buttons">
            <button mat-raised-button color="primary" type="submit" [disabled]="!newCustomerForm.form.valid">Create</button>
            <button mat-raised-button (click)="newCustomerForm.reset()">Cancel</button>
        </div>
    </form>
</section>
