<div class="card-container">
    <div class="card-title">
        <i class="fa fa-user" aria-hidden="true"></i>
        Customers
    </div>

    <div class="customers-nav">
        <ul>
            <li>
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span class="card-view-title">Card View</span>
            </li>
            <li>
                <a routerLink="/customers-table">
                    <i class="fa fa-align-justify" aria-hidden="true"></i>
                </a>
                <span>List View</span>
            </li>
            <li>
                <a routerLink="/customer-detail">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </a>
                <span>Map View</span>
            </li>
            <li>
                <a routerLink="/customer-edit" (click)="openDialog()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <span>New Customer</span>
            </li>
        </ul>
        <form>
            <label>Filter:</label>
            <input type="text">
        </form>
    </div>
    
    <div class="all-cards">
        <mat-card *ngFor="let customer of customers">
            <div class="card-header">
                <span class="customer-name">{{ customer.firstName + ' ' + customer.lastName}}</span>
                <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="openEditDialog(customer)"></i>
            </div>
            <mat-card-content>
                <img mat-card-image src="{{'../../assets/images/'+ customer.gender +'.png'}}" alt="male">
                <div class="customer-info">
                    <span class="customer-city">{{ customer.city }}</span>
                    <span class="customer-state">{{ customer.state }}</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
