<div class="details-container">
    <div class="details-title">
        <i class="fa fa-user" aria-hidden="true"></i>
        Customer Information
    </div>

    <div class="customer-details-nav">
        <ul>
            <li>
                <i class="fa fa-list" aria-hidden="true"></i>
                <span class="customer-details-title">Customer Details</span>
            </li>
            <li>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span class="customer-edit-title">Edit Customer</span>
            </li>
        </ul>
    </div>

    <div class="customer-informations-content" *ngFor="let customer of customers">
        <img src="{{'../../assets/images/'+ customer.gender +'.png'}}" alt="{{customer.gender}}">
        <div class="customer-details">
            <span class="customer-name">{{ customer.firstName + ' ' + customer.lastName}}</span>
            <span class="customer-address">{{ customer.address }}</span>
            <span class="customer-city-state">{{ customer.city + ', ' +  customer.state}}</span>
        </div>
    </div>
</div>