.table-title {
    margin: 20px;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mat-form-field {
    margin-left: 20px;
}

.mat-raised-button {
    height: 32px;
    margin: 20px;
}

.table-wrapper {
    overflow: auto;
}

table {
    width: 100%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.avatar-image {
    width: 36px;
    height: 36px;
}
