.table-container {
    position: relative;
}

.mat-form-field {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.table-wrapper {
    overflow: auto;
}

table {
    width: 100%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 5px;
}

.avatar-image {
    width: 36px;
    height: 36px;
}

.mat-icon {
    cursor: pointer;
}

.mat-icon.mat-warn {
    margin-left: 10px;
}

.error-message {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}
